extends ../layout

block content
	style.
		.thick-border{
			border-width: 3px!important;
			margin-top: -2px;
			border-radius: 9px;
			border-color: #dfe1e9!important;
		}
	if (matches && matches.length > 0)
		h2(class="theme-text") Finished Matches
		each match in matches
			include templates/completedMatch
			hr 
	else
		h2(class="theme-text") <i>There are no matches in the system yet</i>
		h6 Please check back later
