body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*
   -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
	*/
}

a {
  color: #00B7FF;
}
a:link, a:hover { 
	text-decoration: none;
}

select{
	padding: 1px 0px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	border-image: initial;
}

canvas, .canvas{
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
}

pre{
	color: #d2d2d2;
}

a{
	color: inherit;
}

.gear-margin-sides{
	margin-left: 8px!important;
	margin-right: 8px!important;
}

.gear-disabled-click{
	opacity: 0.5;
	cursor: pointer;
}


.gear-red,.gear-hover-red:hover{color:#fff!important;background-color:#EC0D00!important}
.gear-blue,.gear-hover-blue:hover{color:#fff!important;background-color:#2623B8!important}
.gear-white,.theme-hover-white:hover{color:#1E1E23!important;background-color:#f2f2f8!important}
.gear-black,.gear-hover-black:hover{color:#fff!important;background-color:#1E1E23!important}
.gear-orange,.gear-hover-orange:hover{color:#fff!important;background-color:#FF5F0B!important}
.gear-light-gray,.gear-hover-light-gray:hover{color:#1e1e23!important;background-color:#ddd!important}
.gear-opacity,.gear-hover-opacity:hover{background-color:rgba(255,255,255,0.2)!important}
.gear-clear,.gear-clear-hover:hover{background-color:rgba(0,0,0,0)!important}
.gear-dark-gray, .gear-hover-dark-gray:hover{color:#fff!important;background-color:#4b4b4f!important}

.gear-text-red,.gear-text-hover-red:hover{color:#EC0D00!important}
.gear-text-blue,.gear-text-hover-blue:hover{color:#2623B8!important}
.theme-text,.gear-text-hover-white:hover{color:#C8C8DC!important}
.gear-text-black,.gear-text-hover-black:hover{color:#1E1E23!important}
.gear-text-orange,.gear-text-hover-orange:hover{color:#FF5F0B!important}

.gear-border-red,.gear-border-hover-red:hover{border-color:#EC0D00!important}
.gear-border-blue,.gear-border-hover-blue:hover{border-color:#2623B8!important}
.gear-border-white,.gear-border-hover-white:hover{border-color:#C8C8DC!important}
.gear-border-black,.gear-border-hover-black:hover{border-color:#1E1E23!important}
.gear-border-orange,.gear-border-hover-orange:hover{border-color:#FF5F0B!important}

.w3-no-border{border:none!important}

.gear-btn{ 
	min-width:100px; 
	margin: 15px 8px 0px 8px;
}

.gear-input-height {min-height:18px;padding:9px}

@media (min-width: 601px){
	.w3-label{
		text-align: right;
		padding-right: 8px;
	}
	.w3-show-small{display:none!important}
	#navBar{ display: inline!important; }
}

@media (max-width: 600px){
	.gear-resp90{
		width: 90%!important;
	}
	.gear-resp50{
		width: 50%!important;
	}
}
