
/* 2020 THEME COLORS */
:root{
	/* FRC's season colors */
	/* These define the raw color values for FRC's color palette. */
	--frc-orange: #FAB74F;
	--frc-yellow: #FFF041;
	--frc-cyan: #00C0DD;
	--frc-blue: #005CB8;
	--frc-blue2: #0D90F0;
	--frc-darkblue: #003A5D;
	--frc-black: #000000;
	
	/* universal colors */
	--white: #fff;
	--light: #c8c8c8;
	--grey: #888;
	--dark: #454b4e;
	--black: #000;
	
	/* 2020 theme colors */
	/* This is a list of theme color variables, which can be defined by raw color values predefined variables for FRC color palette. */
	--primary: var(--frc-orange);
	--secondary: var(--frc-blue);
	--trim: var(--frc-cyan);
	--highlight: var(--frc-yellow);
	
	--text-primary: var(--white);
	--text-secondary: var(--light);
	--button-primary: var(--frc-orange);
	--button-secondary: var(--frc-yellow);
	
	/* Coordinate "background" with the image as defined in the 'layout.pug'! */
	--background: #000;
	--header: var(--trim);
	--footer: var(--black);
	--placeholder-color: #bbb;
	
	/* MMenu customization */
	--mm-color-background: #444;
	--mm-color-background-emphasis: #666; /* Selected menu item. */
	--mm-color-background-highlight: #77777777; /* Submenu dropdown. */ 
	--mm-color-border: #aaa;
	--mm-color-button: #eee;
	--mm-color-text: #eee;
	--mm-color-text-dimmed: #ccc;
	
	/* MBurger (animated hamburger logo) customization */
	--mb-animate-timeout: 0s;
	--mb-button-size: 45px;
	--mb-bar-width: 0.6;
	--mb-bar-height: 3px;
	--mb-bar-spacing: 8px;
	
	--sprites-url: url('/images/sprites.png');
}

/* 2019 background colors */
.theme-link{color: var(--black)!important; background-color: var(--button-primary)!important}
.theme-input{color: var(--text-primary)!important; background-color: var(--secondary)!important}
.theme-dim,.theme-grey{color:var(--text-primary)!important;background-color:var(--dark)!important}
.theme-submit{color:var(--black)!important;background-color:var(--button-secondary)!important}
.theme-red{color:#fff!important;background-color:#be0020!important}

.theme-text{color:var(--text-primary)!important;}
.theme-text-secondary{color:var(--text-secondary)!important;}
.theme-text-dark{color:#1E1E23!important;}
.theme-text-gray,.theme-text-grey{color:#222!important;}
.theme-text-white{color:#eee!important;}
.theme-text-black{color:#111!important;}

/* 2019 hover background colors */
.theme-link:hover{color:rgb(22, 21, 20)!important;background-color:var(--white)!important}
.theme-hover-white:hover{color:#000!important;background-color:var(--white)!important}
.theme-hover-light-gray:hover,.theme-hover-light-grey:hover{color:#1E1E23!important;background-color:#b9b9c9!important}
.theme-submit:hover{color:var(--dark)!important;background-color:var(--light)!important}
.theme-hover-red:hover{color:#fff!important;background-color:#ff6d85!important}

/* For alliance colors */
.alliance-red{color:#fff!important;background-color:#EC0D00!important}
.alliance-border-red{border: 1px solid hsl(2, 100%, 88%)!important}
.alliance-hover-red:hover{color:rgb(43, 16, 16)!important;background-color:rgb(235, 144, 140)!important}
.alliance-blue{color:#fff!important;background-color:#2623B8!important}
.alliance-border-blue{border: 1px solid hsl(242, 100%, 89%)!important}
.alliance-hover-blue:hover{color:rgb(14, 13, 32)!important;background-color:rgb(134, 132, 235)!important}

.header{background-color: var(--header);}
.footer{background-color: var(--footer);}

/*For sprites*/
.sprite.sp-4{--size:4px;}
.sprite.sp-8{--size:8px;}
.sprite.sp-12{--size:12px;}
.sprite.sp-16{--size:16px;}
.sprite.sp-18{--size:18px;}
.sprite.sp-24{--size:24px;}
.sprite.sp-32{--size:32px;}
.sprite.sp-48{--size:48px;}
.sprite.sp-64{--size:64px;}
.sprite.sp-128{--size:128px;}

.sprite.sp-first{--position: 0;}
.sprite.sp-scoutradioz{--position: -1;}
.sprite.sp-tba{--position: -2;}
.sprite.sp-radio{--position: -3;}
.sprite.sp-language{--position: -4;}
.sprite.sp-share-android{--position: -5;}
.sprite.sp-share-ios{--position: -6;}
.sprite.sp-home{--position: -7;}
.sprite.sp-user{--position: -8;}
.sprite.sp-org{--position: -9;}
.sprite.sp-settings{--position: -10;}
.sprite.sp-wheel{--position: -11;}
.sprite.sp-sheet{--position: -12;}
.sprite.sp-info{--position: -13;}
.sprite.sp-help{--position: -14;}
.sprite.sp-warn{--position: -15;}
.sprite.sp-gearheads{--position: -16;}
.sprite.sp-download{--position: -17;}

.sprite.sp-inline{vertical-align: middle; margin-left: 4px; margin-right: 4px; margin-top: -4px;}

/* USAGE: <span class="sprite sp-(SIZE) sp-(TYPE)"></span> */
.sprite{
	display: inline-block;
	width:var(--size);
	height:var(--size);
	background: var(--sprites-url) 0 calc(var(--position) * var(--size));
	background-size: var(--size) auto;
}

/* Header and Nav Menu */
.mburger{background-color: var(--header);color: black;}
.header-logo{
	max-height: 100%; 
	max-width: 100%;
	vertical-align: middle; 
	background-color: var(--header);
	padding: 4px; 
	padding-left: 8px;
}
.slidein-menu{
	position: fixed;
	z-index: 4;
	width: 80vw;
	min-width: 140px;
	max-width: 440px;
	box-shadow: 0px 0px 15px #000;
	display: none;
}
.slidein-overlay{
	opacity: 0;
	background-color: #53555a60;
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.menu-sprite{
	margin-left: -8px;
	margin-top: -4px;
	margin-right: 12px;
	vertical-align: middle;
}

.team-image-sm{max-height: 100px; margin: 4px;}
.team-image-md{max-height: 225px; margin: 4px;}
.team-image-lg{max-height: 350px; margin: 8px;}

p.indented{
	text-indent: 20px;
}
p.hanging-indent{
	text-indent: -40px;
	margin-left: 40px;
}
.info{
	font-style: italic;
	width: 50%;
	text-align: left;
	margin: 1em auto;
	color: var(--text-secondary);
}
a.link{
	text-decoration: underline!important;
}

/* For background */
.background{
	--fixed-gradient-radius: farthest-corner;
	background: radial-gradient(circle var(--fixed-gradient-radius) at bottom,rgba(29,107,137,0.5) 0%, rgba(0,0,0,0) 100%),
		linear-gradient(45deg, rgba(0,20,50,0.8) 0%, rgba(0,0,0,0) 100%);
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:110%;
	z-index:-1;
}
body{
	--bottom-gradient-radius: 900px;
	background: radial-gradient(circle var(--bottom-gradient-radius) at bottom, 
	rgb(44, 134, 170) 0%, rgba(29,107,137,1) 10%, rgba(0,0,0,0) 100%);
	display: flex;
	min-height: 100%;
}
html{
	height: 100%;
	background-color: var(--background);
}
#page{
	/*Background-image URL is overriden in layout.pug with S3 url*/
	background-image: url('/images/backgrounds/city-light.png');
	background-size: auto 240px;
	background-position-y: bottom;
	background-position-x: left;
	background-repeat: repeat-x;
	
	min-height: 100%;
	min-width: 100%;
}
#page::after{
	content: "";
	display: block;
	height: 240px;
}
@media(max-width: 600px){
	.background{--fixed-gradient-radius: farthest-corner;}
	body{--bottom-gradient-radius: 400px;}
	#page{background-position-x: -50px; background-size: auto 160px;}
	#page::after{height: 160px;}
}

/* For templates/upcomingMatch.pug */
.thick-border{
	border-width: 6.5px!important;
	margin-top: -5.5px;
	border-radius: 10px;
}
.upcoming-rank{
	margin-top: 2.5px;
	min-width: 50px;
}
@media(max-width: 400px) {
	.upcoming-rank{
		display: block;
		width: 100%;
	}
}

/* For spacers */
.theme-spacer{
	border-collapse: collapse;
	border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
hr{
	border: 0;
	border-top: 2px solid rgba(255, 255, 255, 0.25);
	margin: 20px 0;
}

/* For input elements */
.theme-input{
	border-radius:12px;
	border: 0;
	transition:0.2s;
	min-height:18px;
	padding:9px;
}
textarea{padding:8px 12px;}
input:focus,select:focus{outline: 2px solid rgb(118, 118, 151)!important}
.theme-input::-webkit-input-placeholder {color:var(--placeholder-color);}
.theme-input:-moz-placeholder {color:var(--placeholder-color);opacity:1;}
.theme-input::-moz-placeholder {color:var(--placeholder-color);opacity:  1;}
.theme-input:-ms-input-placeholder {color:var(--placeholder-color);}
.theme-input::-ms-input-placeholder {color:var(--placeholder-color);}
.theme-input::placeholder {color:var(--placeholder-color);}


/* For tables that contain spacers */
.theme-contains-spacer{
	border-collapse: collapse;
}

/* For elements that need to be in-line with input elements, but don't line up */
.theme-inline-padding {min-height:18px;padding:9px}

/* Screen darkener for page submission */
.theme-darkener{
	width: 100%;
	height: 100%;
	background-color: rgba(36, 36, 36, 0.5);
	z-index: 2;
}

/* For notification cards */
.notification-card-container{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 45px;
	left: 0px;
}

.notification-card{
	z-index: 3;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(255, 179, 179);
	margin: 16px 0px;
	transition: opacity 2s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.notification-card .notification-card-content{
	font-size: 1.1em;
	text-align: center;
	word-wrap: break-word;
	font-family: Verdana, Geneva, sans-serif;
	
	padding: 12px 32px;
}

.notification-card .notification-card-exit{
	font-size: 1.2em;
	text-align: center;
	font-family: monospace;
	transform: scaleX(1.3);
	
	float: right;
	padding: 12px 24px;
}

.notification-card .notification-card-exit:hover{
	cursor: pointer;
}