
.theme-rounded-large{border-radius:18px;}
.theme-rounded{border-radius:12px;}
.theme-rounded-small{border-radius:6px;}

/* For elements with rounded corners, that don't have all 4 corners rounded */
.theme-rounded-large-tl{border-top-left-radius:18px;}
.theme-rounded-large-tr{border-top-right-radius:18px;}
.theme-rounded-large-bl{border-bottom-left-radius:18px;}
.theme-rounded-large-br{border-bottom-right-radius:18px;}
.theme-rounded-large-top{border-top-left-radius:18px;border-top-right-radius:18px;}
.theme-rounded-large-bottom{border-bottom-left-radius:18px;border-bottom-right-radius:18px;}
.theme-rounded-tl{border-top-left-radius:12px;}
.theme-rounded-tr{border-top-right-radius:12px;}
.theme-rounded-bl{border-bottom-left-radius:12px;}
.theme-rounded-br{border-bottom-right-radius:12px;}
.theme-rounded-top{border-top-left-radius:12px;border-top-right-radius:12px;}
.theme-rounded-bottom{border-bottom-left-radius:12px;border-bottom-right-radius:12px;}
.theme-rounded-small-tl{border-top-left-radius:6px;}
.theme-rounded-small-tr{border-top-right-radius:6px;}
.theme-rounded-small-bl{border-bottom-left-radius:6px;}
.theme-rounded-small-br{border-bottom-right-radius:6px;}
.theme-rounded-small-top{border-top-left-radius:6px;border-top-right-radius:6px;}
.theme-rounded-small-bottom{border-bottom-left-radius:6px;border-bottom-right-radius:6px;}

/* For input elements */
.theme-input{
	border-radius:12px;
	border: 0;
	
	transition:0.2s;
	
	min-height:18px;
	padding:9px;
}
textarea{padding:8px 12px;}

/* 2020 THEME COLORS */
:root{
	/* FRC's season colors */
	--frc-orange: #FAB74F;
	--frc-yellow: #FFF041;
	--frc-cyan: #00C0DD;
	--frc-blue: #005CB8;
	--frc-darkblue: #003A5D;
	--frc-black: #000000;
	
	/* 2020 theme colors */
	--primary: var(--frc-orange);
	--secondary: var(--frc-blue);
	--trim: var(--frc-cyan);
	--highlight: var(--frc-yellow);
	--white: #fff;
	--light: #eee;
	--dark: var(--frc-darkblue);
	--black: var(--frc-black);
	
	--background: #333;
	--header: var(--trim)
}

html, #page{
	background-color: var(--background);
}

/* 2019 background colors */
.theme-link{color: var(--black)!important; background-color: var(--primary)!important}
.theme-input{color: var(--white)!important; background-color: var(--secondary)!important}
.theme-dim,.theme-grey{color:var(--white)!important;background-color:var(--dark)!important}
.theme-submit{color:var(--black)!important;background-color:var(--trim)!important}
.theme-red{color:#fff!important;background-color:#be0020!important}
/* 2019 text colors */
.theme-text{color:#C8C8DC!important;}
.theme-text-dark{color:#1E1E23!important;}
.theme-text-gray,.theme-text-grey{color:#757575!important;}
.theme-text-white{color:#fff!important;}
.theme-text-black{color:#000!important;}
/* 2019 hover background colors */
.theme-link:hover{color:rgb(22, 21, 20)!important;background-color:#f3dfd4!important}
.theme-hover-white:hover{color:#000!important;background-color:#f3dfd4!important}
.theme-hover-light-gray:hover,.theme-hover-light-grey:hover{color:#1E1E23!important;background-color:#b9b9c9!important}
.theme-submit:hover{color:#fff!important;background-color:hsl(240, 60%, 62%)!important}
.theme-hover-red:hover{color:#fff!important;background-color:#ff6d85!important}

/* For alliance colors */
.alliance-red{color:#fff!important;background-color:#EC0D00!important}
.alliance-border-red{border: 1px solid hsl(2, 100%, 88%)!important}
.alliance-hover-red:hover{color:rgb(43, 16, 16)!important;background-color:rgb(235, 144, 140)!important}
.alliance-blue{color:#fff!important;background-color:#2623B8!important}
.alliance-border-blue{border: 1px solid hsl(242, 100%, 89%)!important}
.alliance-hover-blue:hover{color:rgb(14, 13, 32)!important;background-color:rgb(134, 132, 235)!important}

/* MMenu customization */
.mm-menu {
	--mm-color-background: #444;
	--mm-color-background-emphasis: #666; /* Selected menu item. */
	--mm-color-background-highlight: #555; /* Submenu dropdown. */ 
	--mm-color-border: #aaa;
	--mm-color-button: #eee;
	--mm-color-text: #eee;
	--mm-color-text-dimmed: #ccc;
}

/* MBurger animated burger menu customization */
:root{
	--mb-animate-timeout: 0s;
	--mb-button-size: 45px;
	--mb-bar-width: 0.6;
	--mb-bar-height: 3px;
	--mb-bar-spacing: 8px;
}

.mburger{
	background-color: var(--header);
	color: black;
}

.header-logo{
	max-height: 100%; 
	max-width: 100%;
	vertical-align: middle; 
	background-color: var(--header);
	padding: 4px; 
	padding-left: 8px;
}

.header{
	background-color: var(--header);
}



input:focus,select:focus{outline: 2px solid rgb(118, 118, 151)!important}

/* For spacers */
.theme-spacer{
	border-collapse: collapse;
	border-bottom: 2px solid rgba(255,255,255,0.25);
}
hr{
	border: 0;
	border-top: 2px solid rgba(255,255,255,0.25);
	margin: 20px 0;
}

/* For tables that contain spacers */
.theme-contains-spacer{
	border-collapse: collapse;
}

/* For elements that need to be in-line with input elements, but don't line up */
.theme-inline-padding {min-height:18px;padding:9px}

/* Screen darkener for page submission */
.theme-darkener{
	width: 100%;
	height: 100%;
	background-color: rgba(36, 36, 36, 0.5);
	z-index: 2;
}

/* For notification cards */
.notification-card-container{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: 0px;
	left: 0px;
}

.notification-card{
	z-index: 3;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(255, 179, 179);
	margin: 16px 0px;
	transition: opacity 2s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.notification-card .notification-card-content{
	font-size: 1.1em;
	text-align: center;
	word-wrap: break-word;
	font-family: Verdana, Geneva, sans-serif;
	
	padding: 12px 32px;
}

.notification-card .notification-card-exit{
	font-size: 1.2em;
	text-align: center;
	font-family: monospace;
	transform: scaleX(1.3);
	
	float: right;
	padding: 12px 24px;
}

.notification-card .notification-card-exit:hover{
	cursor: pointer;
}