/* 2020 THEME COLORS */
:root{
	/* FRC's season colors */
	/* These define the raw color values for FRC's color palette. */
	--frc-orange: #FAB74F;
	--frc-yellow: #FFF041;
	--frc-cyan: #00C0DD;
	--frc-blue: #005CB8;
	--frc-blue2: #0D90F0;
	--frc-darkblue: #003A5D;
	--frc-black: #000000;
	
	/* 2020 theme colors */
	/* This is a list of theme color variables, which can be defined by raw color values predefined variables for FRC color palette. */
	--primary: var(--frc-orange);
	--secondary: var(--frc-blue);
	--trim: var(--frc-cyan);
	--highlight: var(--frc-yellow);
	
	--button-primary: var(--frc-orange);
	--button-secondary: var(--frc-yellow);
	
	/* Coordinate "background" with the image as defined in the 'layout.pug'! */
	--background: #000;
}

/* 2019 background colors */
.theme-link{color: var(--black)!important; background-color: var(--button-primary)!important}
.theme-input{color: var(--text-primary)!important; background-color: var(--secondary)!important}
.theme-dim,.theme-grey{color:var(--text-primary)!important;background-color:var(--dark)!important}
.theme-submit{color:var(--black)!important;background-color:var(--button-secondary)!important}
.theme-red{color:#fff!important;background-color:#be0020!important}

.theme-text{color:var(--text-primary)!important;}
.theme-text-secondary{color:var(--text-secondary)!important;}
.theme-text-dark{color:#1E1E23!important;}
.theme-text-gray,.theme-text-grey{color:#222!important;}
.theme-text-white{color:#eee!important;}
.theme-text-black{color:#111!important;}

/* 2019 hover background colors */
.theme-link:hover{color:rgb(22, 21, 20)!important;background-color:var(--white)!important}
.theme-hover-white:hover{color:#000!important;background-color:var(--white)!important}
.theme-hover-light-gray:hover,.theme-hover-light-grey:hover{color:#1E1E23!important;background-color:#b9b9c9!important}
.theme-submit:hover{color:var(--dark)!important;background-color:var(--light)!important}
.theme-hover-red:hover{color:#fff!important;background-color:#ff6d85!important}


/* For background */
.background{
	--fixed-gradient-radius: farthest-corner;
	background: radial-gradient(circle var(--fixed-gradient-radius) at bottom,rgba(29,107,137,0.5) 0%, rgba(0,0,0,0) 100%),
		linear-gradient(45deg, rgba(0,20,50,0.8) 0%, rgba(0,0,0,0) 100%);
}
body{
	--bottom-gradient-radius: 900px;
	background: radial-gradient(circle var(--bottom-gradient-radius) at bottom, 
	rgb(44, 134, 170) 0%, rgba(29,107,137,1) 10%, rgba(0,0,0,0) 100%);
}
#page{
	/*Background-image URL is overriden in layout.pug with S3 url*/
	background-image: url('/images/backgrounds/city-light.png');
	background-size: auto 240px;
	background-position-y: bottom;
	background-position-x: left;
	background-repeat: repeat-x;
}
@media(max-width: 600px){
	.background{--fixed-gradient-radius: farthest-corner;}
	body{--bottom-gradient-radius: 400px;}
	#page{background-position-x: -50px; background-size: auto 160px;}
}