extends ../layout
block content
	form#imageform(action="/image/upload" method="post" enctype="multipart/form-data" name="imageform")
		input#teamkey(type="file", name="avatarfield")
		button#submit(type="submit", class="w3-btn theme-submit") Upload