/* Retrieved from https://fonts.googleapis.com/icon?family=Material+Icons at 12-6-2022 */
/* Font file retrieved from https://fonts.gstatic.com/s/materialicons/v139/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2 at 12-6-2022 */
/* Both files are licensed with the Apache 2.0 license: https://www.apache.org/licenses/LICENSE-2.0.html (reference: https://fonts.google.com/icons?icon.style=Outlined) */

/* fallback */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(./material-icons-v139.woff2)
		format('woff2');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}
