zips
primary/public/uploads/responsive
lambda-invoke-response.json
*.code-workspace
*.lockb

# packages
package.yaml
node_modules
yarn.lock

# config
databases.json

# builds
primary/public/css
primary/public/js
build
*.tsbuildinfo
.svelte-kit
yarn-error.log

# below: temporary
voyager/static/*.css*
voyager/.sst
temp/*.*