lambda-invoke-response.json
package.yaml
databases.json
node_modules
zips
primary/public/uploads/responsive
*.code-workspace
*.lockb
primary/public/css
primary/public/js
build
yarn.lock
*.tsbuildinfo
.svelte-kit
yarn-error.log
# below: temporary
offline/static
.serverless