/* Font files retrieved from https://fonts.google.com/specimen/IBM+Plex+Sans/about at 12-6-2022 */
/* Licensed with the Open Font License: see ibm-plex-sans/OFL.txt */

/* Regular */
/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-Thin.ttf');
	font-weight: 100;
} */
/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-ExtraLight.ttf');
	font-weight: 200;
} */
@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-Regular.ttf');
}
/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-Medium.ttf');
	font-weight: 500;
} */
@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-SemiBold.ttf');
	font-weight: 700;
}
/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-Bold.ttf');
	font-weight: 900;
} */
/* Italic */

/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
} */
/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-ExtraLightItalic.ttf');
	font-weight: 200;
	font-style: italic;
} */
@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-Italic.ttf');
	font-style: italic;
}
/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-MediumItalic.ttf');
	font-weight: 500;
	font-style: italic;
} */
@font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-SemiBoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}
/* @font-face {
	font-family: 'IBM Plex Sans';
	src: url('./ibm-plex-sans/IBMPlexSans-BoldItalic.ttf');
	font-weight: 900;
	font-style: italic;
} */