footer
	div(class="w3-col theme-dark-gray w3-padding-16 w3-padding")
		div(class="w3-col s5")
			span Copyright 2019 
			a(href="https://team102.org" target="_blank") FIRST&nbsp;Team&nbsp;102
			span  and Robotics&nbsp;Fund&nbsp;Inc.
		div(class="w3-col s1") &nbsp;
		div(class="w3-col s6 w3-right-align")
			span Powered by 
			a(href="https://thebluealliance.com" target="_blank") The&nbsp;Blue&nbsp;Alliance.