div(id="headerhar" class="w3-card header")
	a(id="burger")
		button(class="mburger mburger--squeeze")
			b 
			b 
			b 
	div(class="w3-show-inline-block" style="max-width: 50%; height: 45px;")
		span(style="display:inline-block;height:100%;vertical-align:middle;")
		img(src=`${fileRoot}/images/logo-black-sm.png` class="header-logo")
	div(class="w3-right w3-show-inline-block" style="height: 45px;")
		img(src=`${fileRoot}/images/infinite-recharge/Horizontal-full-color.png` class="w3-image w3-margin-right" style="max-height: 100%;")
div(id="headerlogo" class="w3-padding w3-center")
	a(href="/home")
		img(src=`${fileRoot}/images/infinite-recharge/Horizontal-reverse.png` class="w3-image w3-center w3-padding-large" style="max-height: 160px;")
	h3=eventName
div(style="display: none;" id="menuParent")
	nav(id="menu")
		ul
			li
				a(href="/home") Home
			li
				span Dashboard
				ul 
					li
						a(href="/dashboard") Scouting
					li(class="Selected")
						a(href="#") Drive Team
					li
						a(href="#") Pit Crew
			if user 
				if user.role.access_level >= process.env.ACCESS_TEAM_ADMIN
					li
						a(href="/manage") Manage Organization
						ul 
							li 
								a(href="/manage/members") Members
div(id="")
script.
	$(() => {
		
		const options = {
			slidingSubmenus: false,
			navbar: {
				title: 'Menu',
			},
			offCanvas: {
				clone: true,
			},
			extensions: {
				//"(max-width: 400px)": ["fullscreen"],
				"all": ["border-full"],
			}
		}
		const configuration = {
			// configuration
			offCanvas: {
				page: {
					selector: "#page",
				},
			},
		};
		
		var offCanvasMenu = new Mmenu('#menu', options, configuration);
		var offCanvasAPI = offCanvasMenu.API;
		
		
		$("#burger").click(() => {
			toggleMenu();
		})
		
		function toggleMenu(){
			
			if (offCanvasMenu.vars.opened == true){
				offCanvasAPI.close();
			}
			else {
				offCanvasAPI.open();
			}
		}
	})