//-
	Creates a main div for all content to be inside. Specifies text size and centers content.
	INCLUDED FROM
		layout
	//

main(class="w3-padding w3-mobile w3-center" style="font-size:1.2em" id="content") 