//- The dynamicscroll-header is used for match scouting; it has an offset -32px, letting the autoscroll provide some padding above the header object
div(class="dynamicscroll-header" id='dynamicscroll_'+element.id)
h3(class="theme-text w3-padding-16 theme-header" id=element.id)=element.label