div(class="w3-padding-large")  
	div(class="w3-padding-small") #{element.label} 
	textarea(class="theme-input w3-no-border w3-mobile" style="margin: auto" name=`${element.id}` cols="50" rows="4")=answer
