//-
	Admin index. Provides links to various administative pages.
	PARAM
		current		[String] Current event key.
	CALLED FROM
		adminindex.js	'/'
	//
extends ../layout
block content
	h3(class="theme-text")=title
	div(class="w3-container w3-section")
		h4(class="theme-text") Member Management
		a(href="/admin/audit") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Scouting audit
		a(href="/admin/scoutingpairs") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Scouting pairs
		a(href="/admin/teammembers") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Manage Members
		a(href="/admin/teammembers/present") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Set who is present at current event
		a(href="/admin/scoutingpairs/swapmembers") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Swap out/in match scouts
		div(class="w3-container")
			a(href="/login/resetpassword")
				div(class="gear-btn theme-link w3-btn w3-section")
					span  Reset User Password
			a(href="/login/adduser")
				div(class="gear-btn theme-link w3-btn w3-section")
					span Add Admin
	div(class="w3-container w3-section")
		h4(class="theme-text") Current Event - #{current}
		a(href="/admin/current/matches") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span See matches for current event
		a(href="/allianceselection") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Alliance selection data
		a(href="admin/current/getcurrentteams") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Update list of current teams
	div(class="w3-container w3-section")
		h4(class="theme-text") API Data Management
		a(href="/admin/data/events") 
			div(class="gear-btn theme-link w3-btn w3-section")
				span Load/Update events
		hr
		form#setCurrentEvent(name="setCurrentEvent" method="post" action="/admin/setcurrent")
			div(class="w3-padding-small w3-show-inline-block")
				input#setEvent(class="theme-input w3-no-border theme-inline-padding" placeholder="Event ID" type="text", name="eventId")
			div(class="w3-padding-small w3-show-inline-block")
				button#btnSubmit(class="theme-submit w3-btn" type="submit") Set current eventId