//-
	Administrative page for all orgs. Provides options to edit other orgs' configuration.
		admin/indexadmin.js	
		'/admin/orgs'
	//
extends ../layout
block content
	include ../mixins/orgConfig
	
	div(class="w3-auto w3-content")
		h2 Manage organizations
		each org in orgs
			div(class="w3-row")
				hr 
				+orgConfig(org, true)
				br 
				label(class="w3-label gear-btn") Log in to #{org.nickname}:
				a(href=`/selectorg-login?org_key=${org.org_key}`)
					div(class="w3-btn theme-submit" ) Normally
				div(class="w3-btn theme-submit w3-margin-left" onclick=`loginToOrg('${org.org_key}')`) as Scoutradioz Admin
		hr 
		form(method="post" action="/admin/orgs/create" id="createOrgForm")
			div(class="w3-row")
				div(class="w3-col s6 m1 w3-padding-small")
					input(type="text" class="theme-input" name="org_key" placeholder="Org key")
				div(class="w3-col s6 m3 w3-padding-small")
					input(type="text" class="theme-input" name="nickname" placeholder="Nickname")
				div(class="w3-col s6 m2 w3-padding-small")
					input(type="text" class="theme-input" name="team_key" placeholder="Team key OR keys (comma separated)")
				div(class="w3-col s6 m2 w3-padding-small")
					input(type="text" class="theme-input" name="default_password" placeholder="Default password")
				div(class="w3-col s6 m2 w3-padding-small")
					input(type="text" class="theme-input" name="team_admin_name" placeholder="Team Admin name")
				div(class="w3-col m2 w3-padding-small")
					button(type="submit" class="w3-btn theme-submit" id="createOrg") Create Org