//-
	Admin page to add an admin user.
	CALLED FROM
		login.js '/adduser'
extends ../layout
block content
	main(class="w3-mobile w3-center")
		form#login-form(name="login-form" method="post" action="")
			h3(class="gear-text-white")=title
			div(class="w3-container w3-padding-16")
				label(class="w3-quarter gear-label") Name: 
				input(class="w3-half" type="text" name="username")
			div(class="w3-container w3-padding-16")
				label(class="w3-quarter gear-label") Password: 
				input(class="w3-half" type="text" name="password")
			div(class="w3-container w3-padding-16")
				label(class="w3-quarter gear-label") className: 
				input(class="w3-half" type="text" name="className" placeholder="post-HS or mentor")
			div(class="w3-container w3-padding-16")
				label(class="w3-quarter gear-label") Years on team: 
				input(class="w3-half" type="text" name="years")
			div(class="w3-padding-16")
				input(type="submit" class="gear-btn theme-link gear-hover-white w3-btn" value="Add Admin User")
	if error == "true"
		script alert(error);