extends ../layout
block content
	form#login-form(name="login-form" method="post" action="/user/login")
		h3(class="theme-text")=title
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label Organization Password: 
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="org_password")
		div(class="w3-padding-16")
			input(type="submit" class="gear-btn theme-submit w3-btn" value="Next")
	if error == "true"
		script alert(error);