extends ../layout
block content
	form#selectorg-form(name="login-form" method="post" action="")
		h3(class="theme-text") Please Select an Organization.
		div(class="w3-container w3-auto w3-padding-16")
			each org, i in orgs
				div(class="w3-col")
					div(class="w3-quarter") &nbsp;
					div(class="w3-half")
						div(class="gear-btn theme-hover-light-gray theme-input w3-btn w3-block" onclick=`submitOrg("${org.org_key}")`)=org.nickname
					div(class="w3-quarter") &nbsp;
		input(type="hidden" name="org_key" value="")
	script.
		function submitOrg( org_key ){
			$("input[name=org_key]").val(org_key);
			$("#selectorg-form").submit();
		}