//-
	Page to change your own password.
	CALLED FROM
		login.js '/changepassword'
extends ../layout
block content
	form#changepassword-form(name="changepassword-form" method="post" action="")
		if user
			- var header = title + " for " + user.name
			h3(class="theme-text")=header
			div(class="w3-container w3-padding-16")
				div(class="w3-quarter w3-label theme-inline-padding")
					label New Password: 
				div(class="w3-half")
					input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="passwordOne")
			div(class="w3-container w3-padding-16")
				div(class="w3-quarter w3-label theme-inline-padding")
					label Confirm: 
				div(class="w3-half")
					input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="passwordTwo")
			div(class="w3-padding-16")
				input(type="submit" class="gear-btn theme-link w3-btn" value="Change Password")