//-
	Page to log in.
	CALLED FROM
		login.js 	'/'
extends ../layout
block content
	form#login-form(name="login-form" method="post" action="")
		h3(class="theme-text")=title
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label Name: 
			div(class="w3-half")
				select(class="w3-select theme-input w3-no-border" type="text" name="username")
					option
					each member, i in members
						option(value=member.name class="w3-bar-item") #{member.name}
		div(class="w3-container w3-padding-16")
			div(class="w3-quarter w3-label theme-inline-padding")
				label Password: 
			div(class="w3-half")
				input(class="w3-input theme-input w3-no-border theme-inline-padding" type="password" name="password")
		div(class="w3-padding-16")
			input(type="submit" class="gear-btn theme-submit w3-btn" value="Login")