//-
	Page to reset another user's password to the default.
	CALLED FROM
		login.js '/resetpassword'
extends ../layout
block content
	form#reset-form(name="reset-form" method="post" action="")
		h3(class="gear-text-white")=title
		div(class="w3-container w3-padding-16")
			label(class="w3-quarter gear-label") Name: 
			select(class="w3-half w3-border-light-grey" type="text" name="username")
				option
				each member, i in members
					option(value=member.name class="w3-bar-item") #{member.name}
		div(class="w3-padding-16")
			input(type="submit" class="gear-btn theme-link gear-hover-white w3-btn" value="Reset Password")
	if error == "true"
		script alert(error);