/* Main styles that are year independent */
@first-red: #D5181E;
@first-blue: #005fa8;
@first-gray: #9f9c9a;

@alliance-red: #EC0D00;
@alliance-blue: #2623B8;

/* universal colors */
@white: #fff;
@light: #c8c8c8;
@grey: #888;
@dark: #454b4e;
@black: #000;

@text-primary: @white;
@text-secondary: @light;

@animation-time: 0.2s;
@long-animation-time: 1.4s;
@animate: all @animation-time ease-in-out;

@header: @black;
@footer: @black;
@placeholder-color: #bbb;
@prompt-color: #f0f5ff;

// Change the header color based on the tier
@header-tier-qa: #1CA74F; // flle
@header-tier-test: #168ECA; // frc
@header-tier-dev: #652F90; // flld

@headerbar-height: 45px;

:root {
	color-scheme: dark;
	
	/* MMenu customization */
	--mm-color-background: #444;
	--mm-color-background-emphasis: #666; /* Selected menu item. */
	--mm-color-background-highlight: #77777777; /* Submenu dropdown. */ 
	--mm-color-border: #aaa;
	--mm-color-button: #eee;
	--mm-color-text: #eee;
	--mm-color-text-dimmed: #ccc;
	
	/* MBurger (animated hamburger logo) customization */
	--mb-animate-timeout: 0s;
	--mb-button-size: 45px;
	--mb-bar-width: 0.6;
	--mb-bar-height: 3px;
	--mb-bar-spacing: 8px;
	
	--sprites-url: url('/images/sprites.png');
}

.theme-link {
	@theme-link-color: contrast(@button-primary, @black, @white, 30%);
	color: @theme-link-color !important;
	background-color: @button-primary !important;
	& .sprite when(@theme-link-color = @black) {.sprite.sp-black;}
}
.theme-input {
	color: contrast(@secondary, @black, @white, 30%) !important;
	background-color: @secondary !important;
}
.theme-input-link {
	color: contrast(@button-primary, @black, @white, 30%) !important;
	background-color: @button-primary !important;
}
.theme-submit {
	color: contrast(@button-secondary, @black, @white, 30%) !important;
	background-color: @button-secondary !important;
}
.theme-dim, .theme-grey {
	color: @text-primary !important;
	background-color: @dark !important;
}
.theme-red {
	color: @white !important;
	background-color: @first-red !important
}
.gear-btn{min-width:100px;margin: 15px 8px 0px 8px;}

.w3-input {
	color: @white;
	&::placeholder {
		color: fadeout(@white, 40%);
	}
}

.theme-text{color:@text-primary!important;}
.theme-text-secondary{color:@text-secondary!important;}
.theme-text-dark{color:#1E1E23!important;}
.theme-text-gray,.theme-text-grey{color:#2e2e2e!important;}
.theme-text-white{color:#eee!important;}
.theme-text-black{color:#111!important;}

/* 2019 hover background colors */
.theme-link:hover{color:rgb(22, 21, 20)!important;background-color:@white!important}
.theme-hover-white:hover{color:#000!important;background-color:@white!important}
.theme-hover-light-gray:hover,.theme-hover-light-grey:hover{color:#1E1E23!important;background-color:#b9b9c9!important}
.theme-submit:hover{color:@dark!important;background-color:@light!important}
.theme-hover-red:hover{color:#fff!important;background-color:#ff6d85!important}

/* For alliance colors */
.alliance-red{
	color: white!important;
	background-color: @alliance-red!important;
}
.alliance-red-faded {
	background-color: fadeout(@alliance-red, 80%);
}
.alliance-blue{
	color: white!important;
	background-color: @alliance-blue!important;
}
.alliance-blue-faded {
	background-color: fadeout(@alliance-blue, 80%);
}

.alliance-border-red{
	border: 1px solid desaturate(lighten(@alliance-red, 20%), 50%);
}
.alliance-border-blue{
	border: 1px solid desaturate(lighten(@alliance-blue, 20%), 50%);
}

.alliance-hover-red:hover{
	// color: desaturate(darken(@alliance-red, 30%), 10%)!important;
	color: black!important;
	background-color: desaturate(lighten(@alliance-red, 30%), 20%)!important;
}
.alliance-hover-blue:hover{
	// color: desaturate(darken(@alliance-blue, 30%), 10%)!important;
	color: black!important;
	background-color: desaturate(lighten(@alliance-blue, 30%), 20%)!important;
}

.animate{transition: @animate; -webkit-transition: @animate;}

.clickable {
	cursor: pointer;
}

.unimportant{opacity: 70%;}
.very-unimportant{opacity: 30%;}

.team-image-sm{max-height: 100px; margin: 4px;}
.team-image-md{max-height: 225px; margin: 4px;}
.team-image-lg{max-height: 350px; margin: 8px;}

p.indented{
	text-indent: 20px;
}
p.hanging-indent{
	text-indent: -40px;
	margin-inline-start: 40px;
}
.info{
	font-style: italic;
	width: 50%;
	text-align: start;
	margin: 1em auto;
	color: @text-secondary;
}
a.link, .contains-link a{
	text-decoration: underline!important;
}

.centered-half{
	width: 50%;
	margin: auto;
}

.centered {
	display: flex;
	place-items: center;
}

/* For background */
.background{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:110%;
	z-index:-1;
}
body{
	display: flex;
	min-height: 100%;
}
html{
	height: 100%;
	background-color: @background;
}
#page{
	min-height: 100%;
	min-width: 100%;
	font-size: 1.1em;
}
/* For spacers */
.theme-spacer{
	border-collapse: collapse;
	border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
hr{
	border: 0;
	border-top: 2px solid rgba(255, 255, 255, 0.25);
	margin: 20px 0;
}


/* For tables that contain spacers */
.theme-contains-spacer{
	border-collapse: collapse;
}

/* For elements that need to be in-line with input elements, but don't line up */
.theme-inline-padding {min-height:18px;padding:9px}

/* Screen darkener for page submission */
.theme-darkener{
	width: 100%;
	height: 100%;
	background-color: rgba(36, 36, 36, 0.5);
	z-index: 2;
}

/* For notification cards */
.notification-card-container{
	position: fixed;
	z-index: 2;
	width: 100%;
	top: @headerbar-height;
	left: 0px;
}

// Grids
.responsive-grid {
	display: grid;
	grid-template-columns: auto auto auto; /* default 3 */
	&.rg-1 { grid-template-columns: auto; }
	&.rg-2 { grid-template-columns: auto auto; }
	&.rg-3 { grid-template-columns: auto auto auto; }
	&.rg-4 { grid-template-columns: auto auto auto auto; }
	&.rg-5 { grid-template-columns: auto auto auto auto auto; }
	&.rg-6 { grid-template-columns: auto auto auto auto auto auto; }
	&.rg-7 { grid-template-columns: auto auto auto auto auto auto auto; }
	&.rg-8 { grid-template-columns: auto auto auto auto auto auto auto auto; }
	&.rg-9 { grid-template-columns: auto auto auto auto auto auto auto auto auto; }
}
@media(max-width:993px) {
	.responsive-grid {
		grid-template-columns: auto auto;
		&.rg-1 { grid-template-columns: auto; }
		&.rg-2 { grid-template-columns: auto auto; }
		&.rg-3 { grid-template-columns: auto auto; }
		&.rg-4 { grid-template-columns: auto auto auto; }
		&.rg-5 { grid-template-columns: auto auto auto; }
		&.rg-6 { grid-template-columns: auto auto auto; }
		&.rg-7 { grid-template-columns: auto auto auto auto; }
		&.rg-8 { grid-template-columns: auto auto auto auto; }
		&.rg-9 { grid-template-columns: auto auto auto auto; }
	}
}
@media(max-width:600px) {
	.responsive-grid {
		grid-template-columns: auto;
		&.rg-1, &.rg-2, &.rg-3, &.rg-4, &.rg-5,
		&.rg-6, &.rg-7, &.rg-8, &.rg-9 { grid-template-columns: auto; }
	}
}

.notification-card{
	z-index: 3;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(255, 179, 179);
	margin: 16px 0px;
	transition: opacity 2s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

.notification-card .notification-card-content{
	font-size: 1.1em;
	text-align: center;
	word-wrap: break-word;
	font-family: Verdana, Geneva, sans-serif;
	
	padding: 12px 32px;
}

.notification-card .notification-card-exit{
	font-size: 1.2em;
	text-align: center;
	font-family: monospace;
	transform: scaleX(1.3);
	
	float: right;
	padding: 12px 24px;
}
[dir=rtl] .notification-card .notification-card-exit { float: left }

.notification-card .notification-card-exit:hover{
	cursor: pointer;
}


/* For templates/upcomingMatch.pug */
.thick-border{
	border-width: 6.5px!important;
	margin-top: -5.5px;
	border-radius: 10px;
}
.semi-thick-border{
	border-width: 3px!important;
	margin-top: -2px;
	border-radius: 9px;
	border-color: #dfe1e9!important;
}
.upcoming-rank{
	margin-top: 2.5px;
	min-width: 50px;
	.w3-left;
	.w3-small;
}
@media(max-width: 400px) {
	.upcoming-rank{
		display: block;
		width: 100%;
	}
}

// Shows little triangles to indicate a focused team.
.upcoming-highlighted-team {
	&::before, &::after {
		content: '';
		border-width: 7px;
		border-style: solid;
		font-size: 0;
		position: relative;
		top: -5px;
	}
	&::before {
		right: 8px;
		border-color: transparent transparent transparent white;
	}
	&::after {
		left: 8px;
    border-color: transparent white transparent transparent;
	}
}

// Change the text color to black on hover.
.alliance-hover-blue:hover, .alliance-hover-red:hover {
	& .upcoming-highlighted-team::before {
		border-color: transparent transparent transparent black;
	}
	& .upcoming-highlighted-team::after {
		border-color: transparent black transparent transparent;
	}
}

#content-container {
	overflow-x: auto;
	//- CD 2022-11-11: made headerbar fixed to viewport, added margin-top to force content below the bar
	margin-top: @headerbar-height;
}

#dialogElement {
	width: calc(100% - 100px);
	height: calc(100% - 100px);
	padding: 0;
	border: none;
	
	&::backdrop {
		background-color: rgba(0,0,0,0.5);
	}
	
	& #dialogContent {
		position: relative;
		width: 100%;
		height: 100%;
	}

	& #closePreviewBtn {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		display: grid;
		place-items: center;
		cursor: pointer;
	}

	& #previewFrame {
		width: 100%;
		top: 40px;
		position: relative;
		height: calc(100% - 40px);
	}
}

@media(max-width: 600px) {
	#dialogElement {
		width: calc(100% - 48px);
		height: calc(100% - 48px);
	}
}