/* 2022 THEME COLORS */

/* FRC's season colors */
/* These define the raw color values for FRC's color palette. */
@frc-green-dark: #3C7B3B;
@frc-green-medium: #A5CA18;
@frc-green-light: #CFE385;
@frc-blue-dark: #1E5AA8;
@frc-blue-medium: #68C3E2;
@frc-blue-light: #C8E9F5;
@frc-blue: #009cd7;
@frc-black: #000000;

/* FIRST FORWARD colors */
@ff-smoke: #e6e6e6;
@ff-terra: #dab045;
@ff-flora: #5dbca1;
@ff-pacific: #314c77;
@ff-space: #0f1328;

@primary: @frc-blue-dark;
@secondary: @frc-blue-dark;
@trim: @frc-green-dark;
@highlight: @frc-blue-light;

@button-primary: @frc-blue;
@button-secondary: @frc-blue-dark;

/* Coordinate "background" with the image as defined in the 'layout.pug'! */
@background: @ff-space;
@header: @frc-blue-dark;
@footer: @black;


:root{
	/* FRC's season colors */
	/* These define the raw color values for FRC's color palette. */
	--frc-green-dark: #3C7B3B;
	--frc-green-medium: #A5CA18;
	--frc-green-light: #CFE385;
	--frc-blue-dark: #1E5AA8;
	--frc-blue-medium: #68C3E2;
	--frc-blue-light: #C8E9F5;
	--frc-blue: #009cd7;
	--frc-black: #000000;

	/* FIRST FORWARD colors */
	--ff-smoke: #e6e6e6;
	--ff-terra: #dab045;
	--ff-flora: #5dbca1;
	--ff-pacific: #314c77;
	--ff-space: #0f1328;
	
	/* 2022 theme colors */
	/* This is a list of theme color variables, which can be defined by raw color values predefined variables for FRC color palette. */
	--primary: var(--frc-blue-dark);
	--secondary: var(--frc-blue-dark);
	--trim: var(--frc-green-dark);
	--highlight: var(--frc-blue-light);
	
	--button-primary: var(--frc-blue);
	--button-secondary: var(--frc-blue-dark);
	
	/* Coordinate "background" with the image as defined in the 'layout.pug'! */
	--background: var(--ff-space);
	--header: var(--frc-blue-dark);
	--footer: var(--black);
	
	/* MMenu customization */
	--mm-color-background: var(--ff-pacific);
	--mm-color-background-emphasis: #2f4a74; /* Selected menu item. */
	--mm-color-background-highlight: #2f497377; /* Submenu dropdown. */
}

.mburger{color: white;}

/* Background */
#page{
	/* Background-image URL is overriden in layout.pug with S3 url */
	background-image: url('/images/backgrounds/2022-grid.svg');
	background-position: 0 0;
	background-repeat: repeat;
}

.theme-submit, .theme-input {
	color: @white!important;
}