{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"quoteProps": "consistent",
	"jsxSingleQuote": true,
	"printWidth": 120,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteBracketNewLine": false,
	"bracketSameLine": true
}
