//- 
	Unassigned provides links to Pit Scouting and Match Scouting dashboard pages
	for unassigned users.
		dashboard.js
		'/dashboard/unassigned'
	//
extends ../layout
block content
	h3(class="theme-text")=title
	div(class="w3-container w3-padding-16")
		h4(class="theme-text") Options for Unassigned Scouts
		a(href="/dashboard/pits") 
			div(class="gear-btn theme-link w3-btn w3-section w3-margin-left w3-margin-right")
				span One-off Pit Scouting
		a(href="/dashboard/matches") 
			div(class="gear-btn theme-link w3-btn w3-section w3-margin-left w3-margin-right")
				span One-off Match Scouting
