// This file is specifically for themeing Svelte Material UI
@use 'sass:color';

/* 2026 THEME COLORS */

$frc-white: #fff;
$frc-black: #000;
$frc-gray: #666666;

/* Season colors */
// in branding pdf, but colors as picked from the preview (not from the hex listed in the PDF)
$fs-gold: #FDC745;
$fs-copper: #CC8903;

/* Game colors */
$fg-gold: #E6AE33;  // B6 NB: *similar* to fs-gold but NOT the same
$fg-red: #FA4614;
$fg-green: #77DDA7;
$fg-slate: #468292;

/* custom combinations */
//$darkened-green: color.scale($frc-blue, $lightness: -15%);

$button-primary: color.scale($fg-slate, $lightness: -20%);
$button-secondary: color.scale($fg-slate, $lightness: -40%);

$primary: $button-primary; // unused
$secondary: color.scale($fg-slate, $lightness: -40%); // input
$highlight: $fg-green;
//$highlight: color.scale($button-primary, $lightness: 10%); // slider

$background: $frc-black;
$footer: $fd-gray;

// $header: color.scale(color.scale($fs-pink, $saturation: -15%), $lightness: -20%);
// $header: color.scale(color.mix($fd-black, $frc-cyan, 60%), $saturation: 15%);
$header: $fg-gold;
$header-tier-qa: color.scale($fs-copper, $lightness: -40%);
$header-tier-test: color.scale($fg-red, $lightness: -40%);
$header-tier-dev: color.scale($fg-green, $lightness: -30%);

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: $primary,
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: color.adjust(color-palette.$grey-900, $blue: +4),
	// $background: #000,
	$error: color-palette.$red-700
);